nav{
     display: flex; 
    justify-content:flex-end;
    height: 72px;
    align-items: center;
    
    padding: 8px
}

 nav  ul {
     display: flex;
     justify-content: space-between;
     gap:24px;  
      list-style-type: none;
     font-weight: 600;
     margin-left: 965px;
  
     
} 

